.sec-tag1{
    width: 66px;
    height: 28px;
    color: rgba(113, 119, 132, 1);
    background:  rgba(242, 245, 248, 1);
    color:  rgba(113, 119, 132, 1);
    border: 1px 1px 0px 1px;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.02em;
    padding: 8px 12px 8px 12px;
    gap: 2px;
    border-radius: var(--radius-full);
    border-radius: 999px;
    border: 1px 1px 0px 1px;
}
.grid{
    border-bottom: 1px solid var(--stroke-soft-200, rgba(225, 228, 234, 1))
}
.griddate{
    display: flex;
    width: 139px;
    height:40px;
    padding: 10px 0px 0px 0px;
    gap: 5px;
    border-radius:10px;
    color: rgba(51, 92, 255, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.006em;
    text-align: left;


}
.calendaricon{
    margin-top: 2px;
}
.Totalper{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.006em;
    text-align: left;
    color :rgba(14, 18, 27, 1); 
    margin-left: -9px;
    margin-right: 48px;

}
.TotalRupees{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.006em;
    text-align: left;
    color: rgba(14, 18, 27, 1);

}
.buttons{
    display: flex;
    justify-content: space-between;

}