body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f7fa;
    margin: 0;
    padding: 80;
  }

.Card{
  /* width: 80%; */
  /* height: 2000%; */

  background-color: #fff;
  margin: 50px 50px;
  
  border-radius: 28px;
  /* padding: 5px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
 padding: 32px;
}

.toggle-switch{
  display: flex;
   
    background-color:#F5F7FA;
    border-radius: 9px;

    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    align-items: center;
    color: #0E121B;
    width: 320px;
    height: 36px;
    padding-top: 6px;
    padding-bottom: 6px;
    justify-content: space-between;

}
.toggle-option {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 9px;
  color: #7d6c6c;
  

  transition: background-color 0.3s, color 0.3s;
  margin: 4px;
  margin-left: 4px;
  
}
.toggle-option.active {
  background-color: #FFFFFF;
  color: #0E121B;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  /* display: flex; */
  /* align-items: center; */
  /* height: 28px;*/
  /* width: 101.33px;  */
}
.search-filter-sort {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.filter-btn, .sort-btn {
  display: flex;
  align-items: center;
  border-radius: 9px;
  padding: 8px 8px;
  cursor: pointer;
  color: #525866;
  background-color: #fff;
  border: 2px solid rgb(233, 231, 231);
}
.sort-icon, .filter-icon{
padding-right: 4px;
}
.sort-btn{
  
  flex-direction: row;
  width: 150px;
  display: flex;
  align-items: center;
  /* padding: 4px; */
  /* color: #E1E4EA; */

 
  
}
.search-bar {
  display: flex;
  background-color: #fff;
  border-radius: 9px;
  padding: 5px 10px;
  /* box-shadow: inset 0 1px 3px rgba(2, 2, 2, 0.279); */
  /* border-color: red; */
  width: 100%;
  max-width: 400px;
  align-items: center;
  background-color: #fff;
  border: 2px solid rgb(233, 231, 231);
  
}

.search-bar .search-icon {
  margin-right: 10px;
  color: #99A0AE;
  font-size: 16px;
}

.search-bar input {
  border: none;
  background: none;
  outline: none;
  padding: 5px 10px;
  font-size: 14px;
  color: #6c757d;
  flex-grow: 1;
}

.search-bar .shortcut-icon {
  margin-left: 10px;
  color: #6c757d;
  font-size: 14px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 2px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: #fff;
  width: 1104px;

  height: 36px;
  flex-direction: row;
  justify-content: space-between;
  margin:32px;
 
 
 margin-bottom: 0px;
 
}
  .BodyCard{
    width: 1104px;
    height: 564px;
    margin: 50px ;
    
    background-color: #fff;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    margin:32px;
    margin-top: 16px;
   
    
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 15px;
    text-align: left;
    
  }
  
  .table th {
    background-color: #f6f9f9;
    font-weight: 500;
    color: #5d5d5d;
    border-bottom: 1px solid #e1e1e1;
  }
  
  .table td {
    /* background-color: #fff; */
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  }
  
  .member-info {
    display: flex;
    align-items: center;
  }
  
  .member-details {
    margin-left: 10px;
  }
  
  .member-name {
    font-weight: bold;
  }
  
  .member-email {
    font-size: 0.9em;
    color: #777;
  }
  
  .member-since {
    font-size: 0.8em;
    color: #aaa;
  }
  
  .document-size {
    font-size: 0.8em;
    color: #aaa;
  }
  
  .status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.9em;
    text-align: center;
    background-color: #fff;
    border: 2px solid rgb(233, 231, 231);
  }
  .dots{
    cursor: pointer;
  }
  .no-items{
    display: flex;
    justify-content: center;
  }
  .menu-popup1 {
    background: rgb(255, 254, 254);
    z-index: 1; 
    position: absolute; 
    width: 140px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin-left: 5px;
  }
  
  .menu-item {
    padding: 8px 12px;
    cursor: pointer;
    white-space: nowrap;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  